// Override Cirrus variables and add your own here.
// See cirrus/theme.scss, cirrus/helpers/_size.scss

$control-themes: (
	'primary': $cirrus-primary,
	'gray': $cirrus-gray,
	'light': #EEE,
	'dark': $cirrus-dark,
	'link': $cirrus-link,
	'info': $cirrus-info,
	'success': $cirrus-success,
	'warning': $cirrus-warning,
	'danger': $cirrus-danger,
);

$breakpoints: (
	'xs': 640px,
	'sm': 768px,
	'md': 1024px,
	'lg': 1280px,
	'xl': 1440px,
	'xxl': 1600px
);

$breakpoint-pairs: (
	'sm': 'xs',
	'md': 'sm',
	'lg': 'md',
	'xl': 'lg',
	'xxl': 'xl'
);

$global-transition: all 0.2s ease;