.pagination {
	margin: 1rem auto;

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			list-style: none;
			margin: 0;
			padding: 0.25rem;

			.current {
				pointer-events: none;
			}
		}
	}
}