body {
	overflow-x: hidden;
	line-height: 1.4;
}

.content {
	margin-bottom: 0;

	@include screen-above(lg) {
		width: 100%;
		max-width: rem-calc(1200);
	}

	@include screen-above(xxl) {
		max-width: rem-calc(1440);
	}
}

.row {
	width: 100%;
	flex-basis: 100%;
	padding: 0 0.5rem;

	@include screen-above(md) {
		padding: 0 1rem;
	}

	.row {
		padding: 0;
		margin-left: -0.5rem;
		margin-right: -0.5rem;

		@include screen-above(md) {
			margin-left: -1rem;
			margin-right: -1rem;
		}
	}

	[class^='col-'],
	[class*=' col-'] {
		padding: 0 1rem;

		@include screen-above(md) {
			padding: 0 0.5rem;
		}

		@include screen-above(xl) {
			padding: 0 1rem;
		}
	}

	@each $breakpoint, $value in $breakpoints {

		.col-#{$breakpoint}-shrink {
			@include screen-above($breakpoint) {
				flex-shrink: 0;
				width: auto;
			}
		}

		.col-#{$breakpoint}-grow {
			@include screen-above($breakpoint) {
				flex-grow: 1;
				width: auto;
			}
		}
	}
}